@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    height: 100vh;
    width: 75%;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat',sans-serif;
    background: #FFFFFF;
    color: #080202;
}
body::before,body::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: 15rem;
    aspect-ratio: 1/1;
    filter: blur(50px);
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1rem;
    padding-inline: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
header img{
    width: 5rem;
}
header nav {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    text-decoration: none;
    color: inherit;
    font-size: .9rem;
    text-transform: capitalize;
    border-radius: 100vw;
    padding: .5rem 1rem;
    transition: .3s ease;
}
header nav a:hover ,.active{
    background: #A71E22;
    color: #fcfcfc;
}
.side{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.side p {
    transform: rotate(90deg);
    margin-block: 2rem;
    padding: 170px;
}
@keyframes updown {
    100%{transform: translateY(2rem);}
}
/*.socialicon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.socialicon ion-icon{
    background: #fff;
    color: #650859;
    padding: .3rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}
.socialicon ion-icon:hover{
    background: #650859;
    color: #fff;
}*/
section{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
}
section .content{
    height: 100vh;
    position: absolute;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 200px;
}
section .content h6 {
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    bottom: 90px;
    left: 46px;
}

/*section .content h1:before,section .content h1::after{
    content: '';
    position: absolute;
    background: url('./images/rounded-star.png') center center / cover;
    width: 3rem;aspect-ratio: 1/1;
    top: -2rem;
}*/
/*section .content h1::after{
    top: unset;bottom: -2rem;
}*/

.button {
  --bg: #000;
  --hover-bg: #A71E22;
  --hover-text: #fff;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-bottom: 1rem;
  position: absolute;
  right: 545px;
  gap: 1rem;
  display: flex;
  top: 330px;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
section .content p{
    font-size: 2rem;
    width: 10%;
    
}

/*product style*/

.container{
    padding: 500px;
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product{
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product.active{
    opacity: 1;
}


/*footer*/
footer {
 background-color: #A71E22;
 width: 135%;
 bottom: 0;
 position: absolute;
 border-top-left-radius: 125px;
 border-top-right-radius: 125px;
 line-height: 20px;
 font-size: 13px;
 padding: 10px 0 10px;
line-height: 20px;
color: #fcfcfc;
}
.row{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
    font-color : #fcfcfc;
    }


/*switch dark mode*/


.dark{
    background-color: #333333;
    color: #fcfcfc;
}

.checkbox-wrapper-41 {
  --size: 65px;
}

.checkbox-wrapper-41 input[type="checkbox"] {
  -webkit-appearance: none;
  width: var(--size);
  height: calc(var(--size) / 2);
  background-color: #000;
  border: 3px solid #222;
  border-radius: 30px 100px 100px 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.checkbox-wrapper-41 input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0.7);
  border: 3px solid #222;
  border-radius: 30px 100px 100px 100px;
  background-color: #ffff;
  box-sizing: border-box;
  transition: all 0.5s;
}

.checkbox-wrapper-41 input[type="checkbox"]:checked {
  background-color: #f50a0a;
  border-radius: 100px 100px 30px 100px;
}

.checkbox-wrapper-41 input[type="checkbox"]:checked::before {
  left: 50%;
  background-color: #fff;
  border-radius: 100px 100px 30px 100px;
}
/*sosial media*/
.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: transparent;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

/*timer*/
li{
    display: inline-block;
    font-size: 1.5rem;
    list-style-type:none ;
    padding: 1em;
    text-transform: uppercase;
}

li span{
    display: block;
    font-size: 4.5rem;

}